/src/*/Generated/** linguist-generated=true
/src/*/Dto/*.gen.php linguist-generated=true
/src/*/Service/*.gen.php linguist-generated=true
/src/*/RawApis.gen.php linguist-generated=true
/contracts/operations.json linguist-generated=true
/.github export-ignore
/build export-ignore
/docker export-ignore
/spec export-ignore
/tests export-ignore
/vendor export-ignore
/composer.lock export-ignore
/phpunit.xml.dist export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/php-sdk-export.json export-ignore
/scripts/test-consumer.php export-ignore
/scripts/generate* export-ignore
